*{
    padding: 0px;
    margin: 0px;
    padding: 10px;
}

body{
    border: 1px solid red;
}

main{
    border: 1px solid blue;
}

header{
    border: 1px solid rgb(255, 0, 187);
}

section{
    border: 1px solid purple;
}

footer{
    border: 1px solid green;
}

div{
    border: 1px solid rgb(0, 255, 229);
}

ul{
    border: 1px solid rgb(51, 96, 229);
}

.header{
    display: flex;
}

.logo{
    background-color: red;
}

.headline{
    background-color: aqua;
}

.columns{
    display: flex;
    
}

.col{
    flex-grow: 1;
}

.col1{
    background-color: blue;
    display: inline-flex
}

.col2{
    background-color: red;
}

.col3{
    background-color: yellow;
    display: inline-flex;
}

.table{
    width: 100%;
    border-collapse: collapse;
}
.table, th, td{
    color: white;
    border: solid 1px wheat;
}

.img{
    width: 400px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
}

.para{

}

footer .div{
    width: 100%;
}

.flex-container{
    display: flex;
    flex-direction: row;
}

@media (max-width: 800px){
    .flex-container{
        flex-direction: column;
    }
}