*{
    padding: 0px;
    margin: 0px;
    padding: 10px;
}

body{
    border: 1px solid red;
}

main{
    border: 1px solid blue;
}

header{
    border: 1px solid yellow;
}

section{
    border: 1px solid purple;
}

footer{
    border: 1px solid green;
}

div{
    border: 1px solid tomato;
}

ul{
    border: 1px solid rgb(51, 96, 229);
}

.header{
    display: flex;
}

.logo {
    background-color: red;
}

.headline{
    background-color: aqua;
}

.columns {
  display: flex;
}

.col {
   flex-grow: 1;
}

.col:nth-child(1) {
  background: green;
}

.columns > .col {
  background: blue;
}


.col:nth-child(2) {
  background: red;
}

.columns > div ~ div {
  background: blue;
}

.col + .col + .col {
  background: yellow;
}